In [1]:
import pandas as pd # data analysis/wrangling
import numpy as np # math if required

from scipy import stats # stat tests
from statsmodels.graphics.gofplots import qqplot ## qq plots to assess normality

import matplotlib.pyplot as plt # visuals
import seaborn as sns # visuals

In [2]:
#import data
data = pd.read_csv('/home/sbangarh/AB_cookie_cats/cookie_cats.csv')
data.head()

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [3]:
#make copy for manipulations and stuff
copy = data.copy()

#convert userid to str - won't interfre wtih numeric analysis
copy['userid'] = copy['userid'].astype(str)

#change retention_1 and retention_7 to 0/1 boolean
bool_dict = {True: 1, False: 0}
copy[['retention_1', 'retention_7']] = copy[['retention_1', 'retention_7']].map(bool_dict.get)

#check work
copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  object
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  int64
 4   retention_7     90189 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.4+ MB

In [4]:
# bots = instances where sum_gamerounds = 0 and one or both retentions are True; 

# make mask to filter bots
my_bots = (copy['sum_gamerounds'] == 0) & ((copy['retention_1'] == 1) | (copy['retention_7'] == 1))

#assign bool based on mask
copy['Bot'] = my_bots.astype(bool)

#check work
copy[copy['Bot'] == 1]

        userid  version  sum_gamerounds  retention_1  retention_7   Bot
1000    110479  gate_30               0            0            1  True
1872    203165  gate_30               0            1            0  True
2330    257330  gate_30               0            1            0  True
2803    307703  gate_40               0            1            1  True
3994    442819  gate_30               0            1            0  True
...        ...      ...             ...          ...          ...   ...
86779  9616345  gate_40               0            1            0  True
87635  9708844  gate_30               0            1            0  True
87973  9750017  gate_40               0            1            0  True
88671  9830174  gate_40               0            1            0  True
90007  9979148  gate_40               0            1            0  True

[111 rows x 6 columns]